inside {
  margin-top:100px;
}
header {
  margin-top:0px;
}

inside cloud-room h1 {
  margin-top:100px;
}

inside h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}
 
inside p {
    width: 50%;
    line-height: 2;
    display: inline-block;
    background-color: #03A9F4;
    padding: 20px;
    position: relative;
    z-index: 999;
    margin: 50px 0 0;
    color: #fff;
    letter-spacing: 2px;
}
 
inside a {
    color: #fff;
    text-decoration: none;
    background-color: #F44336;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #9e2b23;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}
 
inside h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #2196F3;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}
 
inside img {
    height: 300px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
}
